@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  background: #cfcbc8;
}

body {
  padding-top: 50px;
}